#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 65%;
  place-items: center;
}

#note-list {
  height: 50vh;
  padding: 10px;
  overflow: auto;
}

#note-list ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

#note-list ul li {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border: 1px solid royalblue;
  border-radius: 5px;
}

#note-list ul li P {
  max-width: 150px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}